.clubes {
  display: flex;
  flex-direction: column;
margin: 10px;
}


form {
  width: 20px;
}

.times {
  width: 20px;
}

.botao {
  width: 20px;
}

.jogador {
  width: 20px;
}

.camisa {
  width: 20px;
}

.altura {
  width: 20px;
}

.idade {
  width: 20px;
}

.nacionalidade {
  width: 20px;
}

